html {
    height: 100%;
    display: flex;
}
body {
    width: 100%;
    margin: auto;
    text-align: center;
    align-items: center;
}

.cardPet{
    text-align: center;
    background:beige;
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow);
    padding: 2rem;
}